

.dark-theme{
    --main-heading: #5f99be;
    --para-clr: #fff;
    --btn-bg-color: #5f99be;
    --btn-text-clr: #fff;
    --bg-clr: #111b20;
}

.light-theme {
    --main-heading: #5f99be;
    --para-clr: #333;
    --btn-bg-color: #111b20;
    --btn-text-clr: #fff;
    --bg-clr: #fff;
}

.nav{
    background-color: var(--btn-bg-color);
    color: var(--bg-clr);
   
}
.custom-card{
    background-color: var(--btn-bg-color);
    color: var(--bg-clr);
}
.inside-card {
    background-color: var(--btn-bg-color);
    color: var(--bg-clr);
}
.success-section {
    background-color: var(--btn-bg-color);
    color: var(--bg-clr);
}
.success-card {
    background-color: var(--btn-bg-color);
    color: var(--bg-clr);
}
.service-section {
    background-color: var(--btn-bg-color);
    color: var(--bg-clr);
}
.service-card {
    background-color: var(--btn-bg-color);
    color: var(--bg-clr);
}
.footer-color {
    background-color: var(--btn-bg-color);
    color: var(--bg-clr);
}
.add-task{
    background-color: var(--btn-bg-color);
    color: var(--bg-clr);
}
.browse-task{
    background-color: var(--btn-bg-color);
    color: var(--bg-clr);
}

.banner{
    background-color: var(--btn-bg-color);
    color: var(--btn-text-clr);
}

.btn {

    background-color: var(--btn-bg-color);
    color: var(--btn-text-clr);
}









