@import "tailwindcss";
@plugin "daisyui";



html {
  scroll-behavior: smooth;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #241df7;
  --color-secondary: #d47dfa;
  --color-accent: ##f6f5ff;
}